<div class="p-3">
  <h5 class="border-bottom pb-2">功能選單</h5>
  <ul class="nav nav-pills flex-column gap-1" id="adminMenu">
    <li class="nav-item"><a class="nav-link" href="/admin/index.html">儀表板</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/categories.html">分類管理</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/custom-categories.html">訂製品分類</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/remake-categories.html">再製分類</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/service-areas.html">服務地區</a></li>
    <li class="nav-item"><a class="nav-link" href="#">資料分析</a></li>
    <li class="nav-item"><a class="nav-link" href="#">提案管理</a></li>
    <li class="nav-item"><a class="nav-link" href="#">客戶管理</a></li>
    <li class="nav-item"><a class="nav-link" href="#">專案管理</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/membership.html">會員／訂閱</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/playground.html">生圖 Playground</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/ai-tools.html">AI 工具</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/ai-settings.html">AI 設定</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/site-settings.html">網站設定</a></li>
    <li class="nav-item"><a class="nav-link" href="#">設定</a></li>
  </ul>
</div>
