<div class="container-fluid sticky-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light border-bottom border-2 border-white">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <h1 class="mb-0">MATCHDO</h1>
        <span class="site-brand-taglines ms-2 d-none d-xl-inline-flex" data-i18n-group="site-taglines">
          <span data-i18n="site.taglineCategory">數位合作市集</span><span class="site-brand-taglines-sep" aria-hidden="true">·</span><span data-i18n="site.taglineSlogan">創意與工藝，直接合做</span>
        </span>
      </a>
      <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto" id="nav-links">
          <!-- 由 site-common.js 動態注入選單項目 -->
        </div>
      </div>
    </nav>
  </div>
</div>
