<div class="p-3">
  <h5 class="border-bottom pb-2">功能選單</h5>
  <ul class="nav nav-pills flex-column gap-1" id="adminMenu">
    <li class="nav-item"><a class="nav-link" href="/admin/index.html">儀表板</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/categories.html">分類管理</a></li>
    <li class="nav-item"><a class="nav-link" href="#">資料分析</a></li>
    <li class="nav-item"><a class="nav-link" href="#">提案管理</a></li>
    <li class="nav-item"><a class="nav-link" href="#">客戶管理</a></li>
    <li class="nav-item"><a class="nav-link" href="#">專案管理</a></li>
    <li class="nav-item"><a class="nav-link" href="#">設定</a></li>
  </ul>
</div>
