<div class="container-fluid sticky-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light border-bottom border-2 border-white">
      <a href="/index.html" class="navbar-brand">
        <h1>MATCHDO</h1>
      </a>
      <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto" id="nav-links">
          <!-- 由 site-common.js 動態注入選單項目 -->
        </div>
      </div>
    </nav>
  </div>
</div>
